<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.expanniamonitor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GPS-Ti Monitor</name>
    <description>
        Expannia Beacons Monitoring APP
    </description>
    <author email="paco@sauz.es" href="http://www.sauz.es">
        Sauz Web Solutions
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-beacon" />
    <plugin name="cordova-plugin-background-mode" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
    <engine name="browser" spec="~5.0.2" />
    <preference name="exit-on-suspend" value="false" />
</widget>
